<div id="totop">
<a title="<%= __('totop')%>"><img src="/img/scrollup.png"/></a>
</div>
<script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">var cacman_var = {};<% if (is_post()) { %>cacman_var.is_post=true;<% } %><% if (page.layout=='post'||page.layout=='page'||page.layout=='photo') { %>cacman_var.post_page_photo=true;<% } %><% if (theme.duoshuo_shortname){ %>cacman_var.duoshuo_shortname="<%= theme.duoshuo_shortname %>";<% } %><% if (page.layout=='tags'||page.layout=='categories'){ %>cacman_var.tags_categories=true;<% } %><% if ((page.layout=='post'||page.layout=='page'||page.layout=='photo')&&theme.fancybox){ %>cacman_var.post_page_photo_fancybox=true;<% } %><% if( is_post()&&(page.toc !== false) && theme.toc.aside){ %>cacman_var.post_toc_aside=true;<% } %></script>
<script src="<%- config.root %>js/main.js"></script>
<%- partial('mathjax') %>
